.card {
  border: 3px solid black;
  border-radius: 8px;
  width: 90vw;
  background-color: teal;
  color: white;
}

.column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex: auto;
  border: 1px solid red;
  border-radius: 8px;
}

.row {
  display:flex;
  flex-direction: row;
}