@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600&display=swap');

.card {
  border: 3px solid black;
  border-radius: 40px;
  width: 50vw;
  background-color: rgb(24, 150, 241);
  font-family:  'Nunito', sans-serif;
  padding-top: 8px;
  font-size: 1.35em;
}

.column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex: auto;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 8px;
  margin: 5px;
  background-color:rgb(54, 200, 200);
  color: rgb(37, 32, 32);
  font-size: .75em;
}

.row {
  display:flex;
  flex-direction: row;
}

